// Font

$font 					: 'Open Sans', sans-serif;
$font-color				: #666666;

// Basic

$primary-color 			: #cc4545;
$secondary-color 		: #ffe060;
$ternary-color 			: #999999;
$white-color 			: #ffffff;

// Media Queries

$xs						: "(min-width: 320px)";			// Extra Small 
$ms						: "(min-width: 480px)";			// Midium Small
$sm						: "(min-width: 768px)";			// Small
$md						: "(min-width: 992px)";			// Medium
$lg						: "(min-width: 1200px)";		// Large